body{
  background: beige;
}

.container{
  text-align: center;
}

.box{

  width: 80px;
  height: 80px;
  border: 1px solid black;
  color: #ff1313;
  font-size: xx-large;
  display: inline-block;
  line-height: 80px;
  cursor:pointer;
  font-weight: 800;
}

img {
  vertical-align: initial;
}

h4 {
  color: #103ab9;
  font-weight: 800;
}

.board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 246px;
}

form{
  margin-bottom: 6px;
}

form label{
  margin-right: 8px;
}

button, input[type="submit" i] {
  border-color: rgb(60, 60, 55);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  background: lightgrey;
  cursor:pointer;
}

button:hover,
input[type="submit" i]:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input[type=checkbox], input[type=radio] {
  margin-left: 4px;
}

.btn{
  text-align: center;
  display: block;
}

.reset{
  display: inline-block;
  margin: auto;
  width: 60px;
  margin-top: 8px;
}

.divider{
    width: 18px;
    height:auto;
    display:inline-block;
}

